@font-face {
  font-family: "Vaziri";
  src: url("../assets/fonts/vazir/Vazir-Light.woff2") format("woff2"),
    url("../assets/fonts/vazir/Vazir-Light.woff") format("woff");
}

html,
body {
  font-family: "Vaziri" !important;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
.content {
  height: 100vh;
  overflow-x: scroll;
}

.rtl {
  direction: rtl !important;
}
.mt-2 {
  margin-top: 2rem;
}
.sidebar-container {
  background: rgba(38, 41, 44, 1);
  background: linear-gradient(
    180deg,
    rgba(38, 41, 44, 1) 0%,
    rgba(38, 41, 44, 1) 100%
  );
  height: 100vh;
  left: 0;
  width: 100%;
  padding: 8%;
  padding-left: 0;
  box-shadow: inset 1px 1px 20px -1px #60656a;
  cursor: pointer;
}

.avatar {
  text-align: right;
  margin-left: 20px;
  color: #08d27b;
  margin-top: 25px;
  background-color: #60656a;
  height: 55px;
  padding-top: 9px;
  border-radius: 50px;
  box-shadow: inset 0px 0px 10px 1px #4d5257;
  width: 18vw;
}

.avatar-name {
  margin-top: -2px;
}
.avatar-price {
  color: #7ba593;
}

.sidebar-title-container {
  text-align: right;
  margin-top: 4rem;
  padding-right: 12px;
  font-size: 16px;
  color: #60656a;
}

.sidebar-title-container div {
  margin-bottom: 32px;
  height: 30px;
}

.sidebar-title {
  margin-right: 18px;
  color: #60656a;
}

.active-title {
  color: #08d27b !important;
  border-left: 4px solid #08d27b;
}
.active-title .sidebar-title {
  color: #08d27b;
}

.ant-page-header-heading-extra > * {
  margin-right: 12px !important;
}
.ant-statistic-content-value {
  font-family: "Vaziri" !important;
  font-size: 17px;
}
.sellers-container {
  padding: 24px;
  margin-top: 24px;
}

.card {
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  margin: 20px;
  position: relative;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 54px;
}

.image {
  height: 200px;
  opacity: 0.7;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.image:hover,
.card:hover .image {
  height: 200px;
  opacity: 1;
}

.text {
  background: #fff;
  padding: 20px;
  min-height: 200px;
}

.text p {
  margin-bottom: 0px;
}

.seller-commission {
  background-color: #efefef;
  margin: 5px 10px 20px 10px;
  height: 35px;
  padding-top: 5px;
  text-align: center;
  color: black;
}

.seller-buy{
    text-align: center;
    margin-bottom: 20px;
}

.seller-description{
    margin-top: 12px;
    height: 120px;
    overflow-x: scroll;
}